<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mbutgae.omega.inv" version="1.0.21" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Omega Invento</name>
    <description>
        Omega Point Of Sale and Inventory Management System
    </description>
    <author email="mbutgaecorp@gmail.com" href="https://gardenexoteak.com">
        Mbutgae Developer
    </author>
    <content src="index.html" />
    <!-- <content src=index.html /> -->
    <content original-src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <!-- Android only preferences -->
	<!-- <preference name="AndroidLaunchMode" value="singleTop"/> -->
<!--     <plugin name="cordova-plugin-camera" spec="4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.0" />
    <plugin name="cordova-plugin-console" spec="1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-qrscanner" spec="2.4.0" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" /> -->
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <platform name="android">
        <!-- <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file> -->
        <!-- <preference name="android-build-tool" value="ant|gradle" /> -->
    	<preference name="android-build-tool" value="gradle" />
    	<preference name="android-minSdkVersion" value="21" />
    	<preference name="android-maxSdkVersion" value="22" /> 
    	<preference name="android-targetSdkVersion" value="22" /> 
		<preference name="android-installLocation" value="auto" />
    	<preference name="DisallowOverscroll" value="true" />
    	<preference name="orientation" value="portrait" />
		<preference name="LoadUrlTimeoutValue" value="10000"/>
		<preference name="LogLevel" value="VERBOSE"/>
        <icon qualifier="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
        <icon qualifier="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
        <icon qualifier="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
        <icon qualifier="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
        <icon qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
        <icon qualifier="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <engine name="android" spec="5.0.0" />
    <plugin name="cordova-plugin-camera" spec="4.0.0" />
    <!-- <plugin name="org.apache.cordova.camera" spec="4.0.0" /> -->

    <plugin name="cordova-plugin-console" spec="1.1.0" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-qrscanner" spec="2.4.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.0" />
    <plugin name="cordova-plugin-file" spec="1.3.0" />
    <plugin name="cordova-plugin-compat" spec="1.2.0"/>
    <!-- <plugin name="phonegap-plugin-barcodescanner" spec="6.0.8"/> -->
    <!-- <preference name="phonegap-version" value="cli-7.1.0" /> -->
</widget>
