/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.ra-ketok {
  background: none transparent !important;
  opacity: 0 !important;
  /*z-index: -1000;*/
}
.ketok {
  background: #212121 !important;
  opacity: 1 !important;
  /*z-index: auto;*/
}
